body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.club {
    color: white;
    font-size: 1.25rem;
    font-weight: 1000;
    text-align: center;
    background-color: red;
    color: #fff;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    border: 5px solid white;
    border-radius: 30px;
    padding: 0.5rem 1rem;
}

.description {
    background-color: orange;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 2rem;
    padding: 3rem;
}

.mario-image img {
    width: 100%;
}

.mario-image {
    position: relative;
}

.marioclub {
    font-size: 3.5rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: lightgrey;
    position: relative;
    top: -0.2rem;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

li {
    color: black;
}

h1 {
    color: red;
}

p {

    line-height: 2;
}

article {
    padding: 1.5rem 3rem;

}

.photo-game img {
    width: 40%;
}

.photo-game {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.join-today {
    margin-top: 2rem;
    background-color: lightgrey;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;

}

.join-today input {
    border-radius: 5rem;
    padding: 1em;
    border: 0;
    text-align: center;
}

.email {
    border-radius: 5em;
    margin-top: 2em;
}

.bottom {
    background-color: red;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.textinput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.75em;
}